#logo1{
    width:5%;
    height: 10%;
}

.nav-logo {
height: 6%;
width: 4%;
}

.navbar {
    width: 100%;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    font-family: Arial, sans-serif;
    
}

.navbar-centre:hover {
background-color: slategray;
}

.nav-centre {
    display: flex;
    gap: 5px;
    margin-left: 750px;
    font-size: 40%;
}

.nav-btn {
    padding: 12px 18px;
    border-radius: 20px;
    background: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

.nav-btn:hover {
    background-color: #797373;
}

.nav-btn.active {
    background: #d9d9d9;
    color: black;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 80px;
    
}

.gallery-btn {
    padding: 8px 18px;
    background: #e6e6e6;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.gallery-btn:hover {
    background-color: #797373;
}

.icons {
    display: flex;
    gap: 12px;
}

.icon {
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    color: #e6e6e6;
    background-color: black;
    padding: 10%;
}
.icon:hover {
    background: #797373;
}

h1, h2, h3 {
    max-width: 500px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#flag1 {
    width: 1000px; 
    height: auto;
    margin: 0;    
}

p {
    font-size: 24px;
}

h1 {
    margin-left: 800px;
    background-color: black;
    color: darkgrey;
}
